@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faustina:ital,wght@0,300..800;1,300..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-primary: #ada8b6;
    --color-secondary: #ffeedb;
    --color-danger: #a53860;
    --color-success: #61c9a8;
    --color-warning: #4c3b4d;
    --color-background: #4c3b4d;

    --font-roboto: 'Roboto', sans-serif;
    --font-faustina: 'Faustina', serif;
}

html,
body,
#root {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}
